html {
    overflow-y: scroll;
	overflow-x: scroll;
	
}

body {
	max-width: 800px;
	margin: 40px auto;
	padding: 0 5px;
	font-size: 14px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #444;
	line-height:1.6;

}

h1,
h2,
h3 {
	line-height: 1.6
}

h1,
h2,
h3,
h4,
h5,
h6 {
 color:#181818;
 font-family:"Georgia", "Times New Roman", serif;
 font-weight:normal
}

@media (prefers-color-scheme: dark) {
	body {
		color: white;
		background: #444
	}
	a:link {
		color: #5bf
	}
	a:visited {
		color: #ccf
	}
}

code {
	color: #FFFFFF;
	background: #000000;
	padding: 2px
}

pre {
	color: #FFFFFF;
	background: #000000;
	padding: 24px;
	white-space: pre-wrap;
	word-break: break-all;
}

article {
	padding: 24px 0
}

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}

p.a {
  word-break: break-word;
}

.nextPost{
float: right;
}
/*Responsive img css*/
.img svg,
.img img {
  margin: 0; 
  max-width: 100%;
  height: auto;
}

.img {
  position: relative;  
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.img img {
  position: absolute;
  top:0;
  left:0;


}

.nojs .img .lazyload {
  display: none;
  
}

a {
    color: #444;
    text-decoration: none;
	word-break: break-word;
	border-bottom: 2px solid #888888;
}

a:hover {
    border-bottom: 2px solid #ffa0a0;
}
